<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Preahvihear&family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylex1.css') }}"> <!--Link to style.css with jinja-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"><!--Link for boostrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script><!--script for boostrap-->
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header1">
        <h1 style="color: white;"><span style="color: rgb(249, 157, 194) ;">Dev</span>el<span style="color:  rgb(237, 208, 134);">oper</span> See<span style="color: #0d6efd ;">ker</span></h1>
    </div>
    <div class="header2">
      <form class="form" action="{{ url_for('log_out') }}" method="POST">
        <input class='btn btn-warning' type="submit" value="logout">
      </form>
    </div>
  </header>
  <main>
    <div id="card_about_us" class="card text-center" style="width: 70rem;">
      <div class="card-header">
        <div class="card-header1">
          <h2 class="align-middle" style="font-weight: bold; color:#0d6efd">Add your skills</h2>
        </div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 67%">67%</div>
        </div>


      </div>
      <div class="card-body">
        <div class="card-body1">
          <div class="card-body1a">
            <h3 style="color: #0d6efd;">Pick Your Top Frameworks and Libraries</h3>
            {% with messages = get_flashed_messages() %}  <!-- declara una variable llamada mensajes-->
            {% if messages %}<!-- comprobar si hay algún mensaje -->
                {% for message in messages %}<!-- recorrer los mensajes -->
                    <p style="color: red;margin-left: 50px;">{{message}}</p><!-- muestra cada mensaje en una etiqueta de párrafo -->
                {% endfor %}
            {% endif %}
        {% endwith %}
          </div>
          <div class="card-body1b card">
            <div id="added_skills"></div>
          </div>
        </div>
        <div class="card-body2">
          <div id='card-body2a' class="card" >
            <div class="card-body2a1">
                <img src="../static/images/flask.jpg" class="icons" id="flask" onclick="addtoskills(this)" alt="iconflask">
                <img src="../static/images/rails.png" class="icons" id="rails" onclick="addtoskills(this)" alt="iconrails">
                <img src="../static/images/spring.png" class="icons" id="spring" onclick="addtoskills(this)" alt="iconspring">
                <img src="../static/images/django.png" class="icons" id="django" onclick="addtoskills(this)" alt="icondjango">
                <img src="../static/images/react.png" class="icons" id="react" onclick="addtoskills(this)" alt="iconreact">
                <img src="../static/images/bottle.jpg" class="icons" id="bottle" onclick="addtoskills(this)" alt="iconbottle">
            </div>
            <div class="card-body2a2">

              <img src="../static/images/angular.png" class="icons" id="angular" onclick="addtoskills(this)" alt="iconangular">
              <img src="../static/images/boostrap.jpg" class="icons" id="boostrap" onclick="addtoskills(this)" alt="iconboostrap">
              <img src="../static/images/grails.png" class="icons" id="grails" onclick="addtoskills(this)" alt="icongrails">
              <img src="../static/images/laravel.jpg" class="icons" id="laravel" onclick="addtoskills(this)" alt="laravel">
              <img src="../static/images/blazor.png" class="icons" id="blazor" onclick="addtoskills(this)" alt="iconblazor">
              <img src="../static/images/cpp.jpg" class="icons" id="cpp" onclick="addtoskills(this)" alt="iconcpp">
            </div>
            <div class="card-body2a3">

            </div>

          </div>
          <div class="card-body2b">
            <p>"Developer Seeker" serves as a centralized platform connecting employers with adept developers, refining the hiring process. User registration completion discloses language and framework competencies, enhancing job compatibility and optimizing the recruitment experience for both employers and developers.</p>
            <P>The app benefits both developers and employers, offering a platform to showcase coding skills upon registration. This reflects the user's commitment and contributes to the platform's reliability, allowing employers to find suitable skill matches and fostering a trustworthy professional environment. By showcasing language and framework mastery, registration completion plays a vital role in a competitive job market, expediting hiring processes and facilitating precise matches for mutual benefit.</P>
          </div>
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        <div class="card-footer1">
        </div>
        <div class="card-footer2">
          <form id='nextstepform' class="form" action="{{ url_for('third_step_registration') }}" method="POST">
            <input id="flask3" type="hidden" name="flask" value=False>
            <input id="rails3" type="hidden" name="rails" value=False>
            <input id="spring3" type="hidden" name="spring" value=False>
            <input id="django3" type="hidden" name="django" value=False>
            <input id="react3" type="hidden" name="react" value=False>
            <input id="bottle3" type="hidden" name="bottle" value=False>
            <input id="angular3" type="hidden" name="angular" value=False>
            <input id="boostrap3" type="hidden" name="boostrap" value=False>
            <input id="grails3" type="hidden" name="grails" value=False>
            <input id="laravel3" type="hidden" name="laravel" value=False>
            <input id="blazor3" type="hidden" name="blazor" value=False>
            <input id="cpp3" type="hidden" name="cpp" value=False>
            <input class='btn btn-primary' type="submit" value="Almost there!">
            
          </form>
        </div>
      </div>
    </div>
  </main>
  <script src="{{ url_for('static', filename='script.js') }}"></script> <!--Script for JS file if exists-->
</body>
</html>