*{
    padding: 0;
    margin: 0;
    font-family: 'Preahvihear', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/background_img.jpg") ;
    background-size: cover;
    /* height: 700px; */
}

header{
    padding-left: 2%;
    padding-right: 2%;
    background-image:linear-gradient(to bottom, rgba(53, 54, 59, 0.785), rgba(161, 28, 127, 0.73));
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header1{
    flex: 1;
    display: flex;
    align-items: center;
}

.header2{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}





main{
    display: flex;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-top: 2%;
    justify-content: center;
}

#card_about_us{ 
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card-header{
    flex: 0.1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.card-header1{flex:1;
}

.progress{flex:1;
    border: 2px solid black;}

.progress-bar{
    background-image:linear-gradient(to bottom, rgba(53, 54, 59, 0.785), rgba(161, 28, 127, 0.73));
}

.progress-bar2{
    background-image:linear-gradient(to bottom, rgba(36, 178, 60, 0.785), rgba(41, 161, 28, 0.73));
}

.card-body{
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    }

.card-body1{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
        }

.card-body1a{
    flex: 1;
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
        }        


#label_position_name{flex: 1;}
#position_name{flex: 8;}


.card-body1b{flex:1;
    display: flex;
    
    }

#added_skills{flex: 1;
    display: flex;
    justify-content: center;
    overflow-x: auto;}

.card-body2{
    flex: 3;
    display: flex;
    overflow: hidden;
            }

#card-body2a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.card-body2a1,.card-body2a2,.card-body2a3{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.card-body2b{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-footer{flex:0.1;
    display: flex;
    justify-content: space-evenly;
    }

.icons{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    padding: 0.5%;
    margin: 1%;
    box-shadow: 5px 5px 5px 5px grey;
}

.iconsd{
    border-radius: 10px;
    height: 110px;
    width: 110px;
    padding: 4%;
    margin: 3%;
    box-shadow: 5px 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.icons2{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    padding: 0.5%;
    margin: 1%;
    box-shadow: 5px 5px 5px 5px grey;
}

.shadowx{
    box-shadow: 5px 5px 5px 5px rgba(161, 28, 127, 0.73);
}

.header2{
    display: flex;

}

#dashbutton{margin-right: 5%;}